/* Sizes */
.iconLg { /* Large */
    width: 56px;
    height: 56px;
}
.iconMd { /* Medium */
    width: 48px;
    height: 48px;
}
.iconSm { /* Small */
    width: 40px;
    height: 40px;
}

/* Variant Styles */
.rounded {
    border-radius: 50%;
}
.secondaryButton {
    color: var(--color-dark-500);
    background-color: color-mix(in srgb, var(--color-white) 80%, var(--color-transparent));
}
.secondaryButton:hover {
    background-color: var(--color-gray-50);
}