.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ratingsStars {
    display: flex;
    flex-direction: row;
}

.ratingsText {
    color: var(--color-gray-800);
    padding-top: 2px;
    padding-left: 8px;
}
