/* General styles */
button, [type='button'], [type='reset'] {
  border: 0;
  cursor: pointer;
}
.buttonBase {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Disabled styles */
.disabledFilled {
    color: var(--disabled-color);
    background-color: var(--color-gray-200);
    cursor: default;
}
.disabledOutline {
    color: var(--disabled-color);
    background-color: var(--color-transparent);
    border: 1px solid var(--disabled-color);
    cursor: default;
}

/* Variant Styles */
.primaryButton {
    color: var(--color-white);
    background-color: var(--color-primary-700);
}
.primaryButton:hover {
    background-color: var(--color-primary-800);
}
.tertiaryButton {
    background-color: var(--color-gray-50);
    border-radius: 12px;
}
.tertiaryButton:hover {
    background-color: var(--color-gray-100);
}
.primaryGhost {
    color: var(--color-dark-500);
    background-color: transparent;
    border: 1px solid var(--color-dark-500);
}
.primaryGhost:hover {
    color: var(--color-dark-50);
    border: 1px solid var(--color-dark-50);
}
