button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
}
button, [type='button'], [type='reset'] {
  border: 0;
  cursor: pointer;
}

.baseButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Disabled */
button.baseButton:disabled {
    color: var(--color-gray-400);
    background-color: var(--color-gray-200);
}
button.baseButton:disabled:hover {
    cursor: default;
}
button.textOutline:disabled,
button.iconWTextOutline:disabled,
button.iconOnlyOutline:disabled {
    color: var(--color-gray-300);
    border: 1px solid var(--color-gray-200);
    background-color: var(--color-transparent);
}

/* Icon Only -- Base */
.iconOnlyFillLg_background { /* Large */
    padding: 12px;
    min-width: 48px;
    min-height: 48px;
}
.iconOnlyFillMd_background { /* Medium */
    padding: 10px;
    min-width: 40px;
    min-height: 40px;
}
.iconOnlyFillSm_background { /* Small */
    padding: 7px;
    min-width: 32px;
    min-height: 32px;
}

/* Icon Only -- Filled */
.iconOnlyFilled {
    color: var(--color-white);
    background-color: var(--color-primary-500);
}
.iconOnlyFilled:hover {
    background-color: var(--color-primary-600);
}

/* Icon Only -- Outline */
.iconOnlyOutline {
    color: var(--color-primary-500);
    background-color: var(--color-transparent);
    border: 1px solid var(--color-primary-500);
}
.iconOnlyOutline:hover {
    color: var(--color-primary-600);
    border: 1px solid var(--color-primary-600);
}


/* Text Only -- Filled */
.textFilled {
    padding: 16px 24px;
    background-color: var(--color-primary-500);
    color: var(--color-white);
}
.textFilled:hover {
    background-color: var(--color-primary-600);
}

/* Text with Icon -- Filled */
.iconWText {
    gap: 10px;
    padding: 16px 24px;
    background-color: var(--color-primary-500);
    color: var(--color-white);
}
.iconWText:hover {
    background-color: var(--color-primary-600);
}


/* Text Only -- Outline */
.textOutline {
    padding: 16px 24px;
    color: var(--color-primary-500);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary-500);
}
.textOutline:hover {
    color: var(--color-primary-600);
    border: 1px solid var(--color-primary-600);
}

/* Text with Icon -- Outline */
.iconWTextOutline {
    gap: 10px;
    padding: 16px 24px;
    color: var(--color-primary-500);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary-500);
}
.iconWTextOutline:hover {
    color: var(--color-primary-600);
    border: 1px solid var(--color-primary-600);
}