:root {
    /* Colors */
    --color-transparent: transparent;
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-primary-50: #F1FCF5;
    --color-primary-100: #DDFBE9;
    --color-primary-200: #BEF4D4;
    --color-primary-300: #BEF4D4;
    --color-primary-400: #51D78A;
    --color-primary-500: #26AE60;
    --color-primary-600: #1C9D54;
    --color-primary-700: #1A7B44;
    --color-primary-800: #1A6139;
    --color-primary-900: #175031;
    --color-primary-950: #072C18;

    --color-secondary-50: #F0FDFA;
    --color-secondary-100: #CCFBF1;
    --color-secondary-200: #99F6E4;
    --color-secondary-300: #5EEAD4;
    --color-secondary-400: #2DD4BF;
    --color-secondary-500: #14B8A6;
    --color-secondary-600: #0D9488;
    --color-secondary-700: #0F766E;
    --color-secondary-800: #115E59;
    --color-secondary-900: #134E4A;
    --color-secondary-950: #134E4A;

    --color-tertiary-50: #EEF2FF;
    --color-tertiary-100: #E0E7FF;
    --color-tertiary-200: #C7D2FE;
    --color-tertiary-300: #A5B4FC;
    --color-tertiary-400: #A5B4FC;
    --color-tertiary-500: #A5B4FC;
    --color-tertiary-600: #4F46E5;
    --color-tertiary-700: #4F46E5;
    --color-tertiary-800: #3730A3;
    --color-tertiary-900: #312E81;
    --color-tertiary-950: #172554;

    --color-dark-50: #154528;
    --color-dark-100: #123A22;
    --color-dark-200: #123A22;
    --color-dark-300: #0B2114;
    --color-dark-400: #0B2114;
    --color-dark-500: #050D08;
    --color-dark-600: #030A06;
    --color-dark-700: #020805;
    --color-dark-800: #010603;
    --color-dark-900: var(--color-black);

    --color-gray-50: #F7F7F7;
    --color-gray-100: #EDEDED;
    --color-gray-200: #DFDFDF;
    --color-gray-300: #C8C8C8;
    --color-gray-400: #ADADAD;
    --color-gray-500: #A1A1A1;
    --color-gray-600: #888888;
    --color-gray-700: #7B7B7B;
    --color-gray-800: #676767;
    --color-gray-900: #545454;
    --color-gray-950: #363636;

    --color-light-50: #F5F5F6;
    --color-light-100: #E5E6E8;
    --color-light-200: #CDCFD4;
    --color-light-300: #ABAFB5;
    --color-light-400: #81858F;
    --color-light-500: #6D727D;
    --color-light-600: #575A63;
    --color-light-700: #4A4D54;
    --color-light-800: #424448;
    --color-light-900: #3A3B3F;
    --color-light-950: #242528;

    --color-success-50: #F0FDF4;
    --color-success-100: #DCFCE7;
    --color-success-200: #BBF7D0;
    --color-success-300: #BBF7D0;
    --color-success-400: #BBF7D0;
    --color-success-500: #22C55E;
    --color-success-600: #16A34A;
    --color-success-700: #15803D;
    --color-success-800: #166534;
    --color-success-900: #14532D;
    --color-success-950: #052E14;

    --color-warning-50: #FEFCE8;
    --color-warning-100: #FEF9C3;
    --color-warning-200: #FEF08A;
    --color-warning-300: #FDE047;
    --color-warning-400: #FACC15;
    --color-warning-500: #EAB308;
    --color-warning-600: #CA8A04;
    --color-warning-700: #A16207;
    --color-warning-800: #854D0E;
    --color-warning-900: #713F12;
    --color-warning-950: #423306;

    --color-error-50: #FEF2F2;
    --color-error-100: #FEE2E2;
    --color-error-200: #FECACA;
    --color-error-300: #FCA5A5;
    --color-error-400: #F87171;
    --color-error-500: #EF4444;
    --color-error-600: #DC2626;
    --color-error-700: #B91C1C;
    --color-error-800: #991B1B;
    --color-error-900: #7F1D1D;
    --color-error-950: #450A0A;

    --color-information-50: #EFF6FF;
    --color-information-100: #DBEAFE;
    --color-information-200: #BFDBFE;
    --color-information-300: #93C5FD;
    --color-information-400: #60A5FA;
    --color-information-500: #3B82F6;
    --color-information-600: #2563EB;
    --color-information-700: #1D4ED8;
    --color-information-800: #1E40AF;
    --color-information-900: #1E3A8A;
    --color-information-950: #172E54;

    /* Font Family */
    --font-primary: "Roboto",sans-serif;

    /* Font Weights */
    --font-weight-regular:  400;
    --font-weight-medium:   500;
    --font-weight-semibold: 600;
    --font-weight-bold:     700;

    /* Heading Scale */
    --heading-2xl-size:    4.5rem;    /* 72px */
    --heading-2xl-leading: 1.25;
    --heading-2xl-tracking: -0.02em;

    --heading-xl-size:     3.75rem;   /* 60px */
    --heading-xl-leading:  1.25;
    --heading-xl-tracking: -0.02em;

    --heading-lg-size:     3rem;      /* 48px */
    --heading-lg-leading:  1.26;
    --heading-lg-tracking: -0.02em;

    --heading-md-size:     2.25rem;   /* 36px */
    --heading-md-leading:  1.29;
    --heading-md-tracking: -0.02em;

    --heading-sm-size:     1.875rem;  /* 30px */
    --heading-sm-leading:  1.20;
    --heading-sm-tracking: -0.02em;

    --heading-sx-size:     1.5rem;    /* 24px */
    --heading-sx-leading:  1.32;
    --heading-sx-tracking: 0em;

    /* Text Scale */
    --text-xl-size:     1.25rem;   /* 20px */
    --text-xl-leading:  1.50;
    --text-xl-tracking: -0.02em;

    --text-lg-size:     1.125rem;  /* 18px */
    --text-lg-leading:  1.55;
    --text-lg-tracking: -0.02em;

    --text-md-size:     1rem;      /* 16px */
    --text-md-leading:  1.50;
    --text-md-tracking: 0em;

    --text-sm-size:     0.875rem;  /* 14px */
    --text-sm-leading:  1.40;
    --text-sm-tracking: 0em;

    --text-sx-size:     0.75rem;   /* 12px */
    --text-sx-leading:  1.30;
    --text-sx-tracking: -0.02em;

    /* Border */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 24px;
    --border-radius-round: 50%;

    /* Space */
    --space-z: 0;
    --space-xs: 2px; /*yes*/
    --space-sm: 4px; /*yes*/
    --space-s: 6px;
    --space-md: 8px; /*yes*/
    --space-lg: 10px; /*yes*/
    --space-xl: 12px; /*yes*/
    --space-s: 14px; /*yes*/
    --space-2xl: 16px; /*yes*/
    --space-s: 18px;
    --space-s: 20px;
    --space-s: 22px;
    --space-3xl: 24px; /*yes*/


/* Semantic Tokens */

    /* Forms */
    --form-error-color: var(--color-error-500);
    --disabled-color: var(--color-gray-400);

    /* Images */
    --image-border-bottom: 0 0 var(--border-radius-xl) var(--border-radius-xl);

}