html {
  font-size: 16px;
}

body {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-md-size);
    line-height: var(--text-md-leading);
    letter-spacing: var(--text-md-tracking);
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--heading-2xl-size);
    line-height: var(--heading-2xl-leading);
    letter-spacing: var(--heading-2xl-tracking);
}




/* Heading */
 .heading-2xl-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 72px;
    line-height: 125%;
    letter-spacing: -2%;
}
.heading-2xl-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: 72px;
    line-height: 125%;
    letter-spacing: -2%;
}
.heading-2xl-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 72px;
    line-height: 125%;
    letter-spacing: -2%;
}
.heading-xl-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 60px;
    line-height: 125%;
    letter-spacing: -2%;
}
.heading-xl-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: 60px;
    line-height: 125%;
    letter-spacing: -2%;
}
.heading-xl-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 60px;
    line-height: 125%;
    letter-spacing: -2%;
}

.heading-lg-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 48px;
    line-height: 126%;
    letter-spacing: -2%;
}
.heading-lg-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: 48px;
    line-height: 126%;
    letter-spacing: -2%;
}
.heading-lg-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 48px;
    line-height: 126%;
    letter-spacing: -2%;
}

.heading-md-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 36px;
    line-height: 129%;
    letter-spacing: -2%;
}
.heading-md-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: 36px;
    line-height: 129%;
    letter-spacing: -2%;
}
.heading-md-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 36px;
    line-height: 129%;
    letter-spacing: -2%;
}

.heading-sm-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -2%;
}
.heading-sm-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -2%;
}
.heading-sm-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -2%;
}

.heading-xs-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0%;
}
.heading-xs-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0%;
}
.heading-xs-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0%;
} */

/* Text Styles*/
 .text-xl-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
}
.text-xl-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
}
.text-xl-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
}

.text-lg-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 18px;
    line-height: 155%;
    letter-spacing: -2%;
}
.text-lg-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 18px;
    line-height: 155%;
    letter-spacing: -2%;
}
.text-lg-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: 155%;
    letter-spacing: -2%;
}

.text-md-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}
.text-md-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}
.text-md-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

.text-sm-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}
.text-sm-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}
.text-sm-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

.text-xs-regular {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -2%;
}
.text-xs-medium {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -2%;
}
.text-xs-bold {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -2%;
} 