.caloriesBar {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.bar {
    display: flex;
    flex-direction: column;
    width: 6px;
    height: 52px;
    border-radius: 3px;
    overflow: hidden;
}

.segment {
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
}

.amount {
    color: var(--color-dark-500);
    margin-bottom: 4px;
}

.macronutrient {
    color: var(--color-gray-800);
    text-transform: capitalize;
}
