.ingredientsItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
}

.ingredientsName {
    color: var(--color-dark-500);
    text-transform: capitalize;
}

.ingredientsAmount {
    color: var(--color-gray-800);
}
