.ingredientsItem {
    display: flex;
    justify-content: space-between;
}

.ingredientsName {
    color: var(--color-dark-500);
    text-transform: capitalize;
}

.ingredientsAmount {
    color: var(--color-gray-800);
}
